# Apple dictionary bridge

<VirtualHost *:80>
    ServerName search.wikimedia.org
    DocumentRoot "/srv/mediawiki/docroot/search.wikimedia.org"
    DirectoryIndex index.php

    <FilesMatch "\.php$">
        SetHandler "proxy:<%= @fcgi_proxy %>"
    </FilesMatch>
</VirtualHost>

# vim: syn=apache autoindent
