<%-
def sethandler
    <<-HEREDOC
    <FilesMatch "\.php$">
    # Send all php files to the FCGI backend (PHP7)
        SetHandler "proxy:#{@fcgi_proxy}"
    </FilesMatch>
    HEREDOC
end
-%>
<VirtualHost *:80>
    ServerName wikipedia.<%= @domain_suffix %>

    # Redirecting from subdirectories of wikipedia.org to subdomains
    RewriteEngine On
    RewriteRule . - [E=RW_PROTO:%{HTTP:X-Forwarded-Proto}]
    RewriteCond %{ENV:RW_PROTO} !=https
    RewriteRule . - [E=RW_PROTO:http]

    RewriteRule ^/([a-z]{2}|meta)/(.*)$ %{ENV:RW_PROTO}://$1.wikipedia.<%= @domain_suffix %>/wiki/$2 [R=301,L,NE]

    # Prevent the catch-all redirect below from breaking the apple-app-site-association alias
    RewriteRule /apple-app-site-association - [L]
    Alias /apple-app-site-association /srv/mediawiki/docroot/wikipedia.org/apple-app-site-association

    RewriteRule ^(.*)$ %{ENV:RW_PROTO}://www.wikipedia.<%= @domain_suffix %>$1 [R=301,L]
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot /srv/mediawiki/docroot/wwwportal
    ServerName www.wikipedia.<%= @domain_suffix %>
    ServerAlias m.wikipedia.<%= @domain_suffix %>
    ServerAlias zero.wikipedia.<%= @domain_suffix %>

    RewriteEngine On
    RewriteRule . - [E=RW_PROTO:%{HTTP:X-Forwarded-Proto}]
    RewriteCond %{ENV:RW_PROTO} !=https
    RewriteRule . - [E=RW_PROTO:http]

    # Front page...
    RewriteRule ^/$ /portal/wikipedia.org/index.html [L]
    RewriteRule ^/portal/.*$ - [L]

    # We need to be able to update HTML on short notice
    <Location ~ "^/$">
        Header set Cache-Control "s-maxage=86400, must-revalidate, max-age=3600"
    </Location>
    # All other resources can be cached for a reasonably long time
    <Location ~ "^/portal/">
        Header set Cache-Control "s-maxage=86400, max-age=86400"
    </Location>

    # search-redirect.php, let it through
    RewriteRule ^/search-redirect.php /w/search-redirect.php [L]

    # Language-specific links
    RewriteRule ^/wiki/(aa|ab|af|am|as|ay|az|ba|be|bh|bi|bn|bo|ca|co|dz|et|eu|fa|fi|fj|fo|fy|ga|gl|gn|gu|ha|hy|ia|id|ik|is|it|iu|jv|ka|kk|kl|km|kn|ks|ku|ky|la|lo|lv|mg|mi|mk|mn|mo|mr|my|na|ne|no|oc|om|or|pa|ps|pt|qu|rm|rn|rw|sa|sd|sg|si|sk|sm|sn|so|sq|ss|st|su|sw|ta|te|tg|th|ti|tk|tl|tn|to|ts|tt|tw|ug|uk|ur|uz|vi|vo|wo|xh|yi|yo|za|zu):(.*)$ %{ENV:RW_PROTO}://$1.wikipedia.<%= @domain_suffix %>/wiki/$2 [R,L]
    RewriteRule ^/wiki/(ar|bs|cs|cy|da|de|dk|el|en|eo|es|fr|gd|gv|he|hi|hr|hu|ja|ko|ml|ms|nl|pl|ro|ru|sh|sl|sr|sv|tr|zh|zh-cn|zh-tw|nds):(.*)$ %{ENV:RW_PROTO}://$1.wikipedia.<%= @domain_suffix %>/wiki/$2 [R,L]

    # English Wikipedia pages
    # ErrorDocument defined in sites-available/01-main.conf should be served directly and not redirected
    RewriteCond %{REQUEST_URI} !=/w/404.php
    RewriteRule ^/(upload|wiki|stats|w)/(.*)$ %{ENV:RW_PROTO}://en.wikipedia.<%= @domain_suffix %>/$1/$2 [R=301,L]

    RewriteRule ^/wiki$ %{ENV:RW_PROTO}://en.wikipedia.<%= @domain_suffix %>/ [R=301,L]

    # Mailing lists...
    RewriteRule ^/(mailman|pipermail)(.*)$ https://lists.wikimedia.org/$1$2 [R=301,L]

    # Old-style english wikipedia
    RewriteCond %{QUERY_STRING} ([^&;]+)
    RewriteRule ^/wiki\.cgi$ %{ENV:RW_PROTO}://en.wikipedia.<%= @domain_suffix %>/wiki/%1 [R=302,L]

    RewriteRule ^/wiki\.cgi$ %{ENV:RW_PROTO}://en.wikipedia.<%= @domain_suffix %>/ [R=302,L]

    # Prevent the catch-all redirect below from breaking the apple-app-site-association alias
    RewriteRule /apple-app-site-association - [L]
    Alias /apple-app-site-association /srv/mediawiki/docroot/wikipedia.org/apple-app-site-association

    # Everything else
    # ErrorDocument defined in sites-available/01-main.conf should be served directly and not redirected
    RewriteCond %{REQUEST_URI} !=/w/404.php
    RewriteRule ^(.*)$ %{ENV:RW_PROTO}://en.wikipedia.<%= @domain_suffix %>$1 [R=301,L]
<%= sethandler %>
</VirtualHost>

<VirtualHost *:80>
    ServerName www.wiktionary.<%= @domain_suffix %>
    ServerAlias m.wiktionary.<%= @domain_suffix %>

    DocumentRoot /srv/mediawiki/docroot/wwwportal

    RewriteEngine On
    RewriteRule . - [E=RW_PROTO:%{HTTP:X-Forwarded-Proto}]
    RewriteCond %{ENV:RW_PROTO} !=https
    RewriteRule . - [E=RW_PROTO:http]

    # Front page...
    RewriteRule ^/$ /portal/wiktionary.org/index.html [L]

    # We need to be able to update HTML on short notice
    <Location ~ "^/$">
        Header set Cache-Control "s-maxage=86400, must-revalidate, max-age=3600"
    </Location>
    # All other resources can be cached for a reasonably long time
    <Location ~ "^/portal/">
        Header set Cache-Control "s-maxage=86400, max-age=86400"
    </Location>

    # search-redirect.php, let it through
    RewriteRule ^/search-redirect.php /w/search-redirect.php [L]

    # Everything else
    # ErrorDocument defined in sites-available/01-main.conf should be served directly and not redirected
    RewriteCond %{REQUEST_URI} !=/w/404.php
    RewriteRule ^(.*)$ %{ENV:RW_PROTO}://en.wiktionary.<%= @domain_suffix %>$1 [R=301,L]
<%= sethandler %>
</VirtualHost>

<VirtualHost *:80>
    ServerName www.wikinews.<%= @domain_suffix %>
    ServerAlias m.wikinews.<%= @domain_suffix %>

    DocumentRoot /srv/mediawiki/docroot/wwwportal

    RewriteEngine On
    RewriteRule . - [E=RW_PROTO:%{HTTP:X-Forwarded-Proto}]
    RewriteCond %{ENV:RW_PROTO} !=https
    RewriteRule . - [E=RW_PROTO:http]

    # Front page...
    RewriteRule ^/$ /portal/wikinews.org/index.html [L]

    # We need to be able to update HTML on short notice
    <Location ~ "^/$">
        Header set Cache-Control "s-maxage=86400, must-revalidate, max-age=3600"
    </Location>
    # All other resources can be cached for a reasonably long time
    <Location ~ "^/portal/">
        Header set Cache-Control "s-maxage=86400, max-age=86400"
    </Location>

    # search-redirect.php, let it through
    RewriteRule ^/search-redirect.php /w/search-redirect.php [L]

    # Everything else
    # ErrorDocument defined in sites-available/01-main.conf should be served directly and not redirected
    RewriteCond %{REQUEST_URI} !=/w/404.php
    RewriteRule ^(.*)$ %{ENV:RW_PROTO}://en.wikinews.<%= @domain_suffix %>$1 [R=301,L]
<%= sethandler %>
</VirtualHost>

<VirtualHost *:80>
    ServerName www.wikiquote.<%= @domain_suffix %>
    ServerAlias m.wikiquote.<%= @domain_suffix %>

    DocumentRoot /srv/mediawiki/docroot/wwwportal

    RewriteEngine On
    RewriteRule . - [E=RW_PROTO:%{HTTP:X-Forwarded-Proto}]
    RewriteCond %{ENV:RW_PROTO} !=https
    RewriteRule . - [E=RW_PROTO:http]

    # Front page...
    RewriteRule ^/$ /portal/wikiquote.org/index.html [L]

    # We need to be able to update HTML on short notice
    <Location ~ "^/$">
        Header set Cache-Control "s-maxage=86400, must-revalidate, max-age=3600"
    </Location>
    # All other resources can be cached for a reasonably long time
    <Location ~ "^/portal/">
        Header set Cache-Control "s-maxage=86400, max-age=86400"
    </Location>

    # search-redirect.php, let it through
    RewriteRule ^/search-redirect.php /w/search-redirect.php [L]

    # Everything else
    # ErrorDocument defined in sites-available/01-main.conf should be served directly and not redirected
    RewriteCond %{REQUEST_URI} !=/w/404.php
    RewriteRule ^(.*)$ %{ENV:RW_PROTO}://en.wikiquote.<%= @domain_suffix %>$1 [R=301,L]
<%= sethandler %>
</VirtualHost>

<VirtualHost *:80>
    ServerName www.wikiversity.<%= @domain_suffix %>
    ServerAlias m.wikiversity.<%= @domain_suffix %>

    DocumentRoot /srv/mediawiki/docroot/wwwportal

    RewriteEngine On
    RewriteRule . - [E=RW_PROTO:%{HTTP:X-Forwarded-Proto}]
    RewriteCond %{ENV:RW_PROTO} !=https
    RewriteRule . - [E=RW_PROTO:http]

    # Front page...
    RewriteRule ^/$ /portal/wikiversity.org/index.html [L]

    # We need to be able to update HTML on short notice
    <Location ~ "^/$">
        Header set Cache-Control "s-maxage=86400, must-revalidate, max-age=3600"
    </Location>
    # All other resources can be cached for a reasonably long time
    <Location ~ "^/portal/">
        Header set Cache-Control "s-maxage=86400, max-age=86400"
    </Location>

    # search-redirect.php, let it through
    RewriteRule ^/search-redirect.php /w/search-redirect.php [L]

    # Everything else
    # ErrorDocument defined in sites-available/01-main.conf should be served directly and not redirected
    RewriteCond %{REQUEST_URI} !=/w/404.php
    RewriteRule ^(.*)$ %{ENV:RW_PROTO}://en.wikiversity.<%= @domain_suffix %>$1 [R=301,L]
<%= sethandler %>
</VirtualHost>

<VirtualHost *:80>
    ServerName www.wikibooks.<%= @domain_suffix %>
    ServerAlias m.wikibooks.<%= @domain_suffix %>

    DocumentRoot /srv/mediawiki/docroot/wwwportal

    RewriteEngine On
    RewriteRule . - [E=RW_PROTO:%{HTTP:X-Forwarded-Proto}]
    RewriteCond %{ENV:RW_PROTO} !=https
    RewriteRule . - [E=RW_PROTO:http]

    # Front page...
    RewriteRule ^/$ /portal/wikibooks.org/index.html [L]

    # We need to be able to update HTML on short notice
    <Location ~ "^/$">
        Header set Cache-Control "s-maxage=86400, must-revalidate, max-age=3600"
    </Location>
    # All other resources can be cached for a reasonably long time
    <Location ~ "^/portal/">
        Header set Cache-Control "s-maxage=86400, max-age=86400"
    </Location>

    # search-redirect.php, let it through
    RewriteRule ^/search-redirect.php /w/search-redirect.php [L]

    # Everything else
    # ErrorDocument defined in sites-available/01-main.conf should be served directly and not redirected
    RewriteCond %{REQUEST_URI} !=/w/404.php
    RewriteRule ^(.*)$ %{ENV:RW_PROTO}://en.wikibooks.<%= @domain_suffix %>$1 [R=301,L]
<%= sethandler %>
</VirtualHost>

<VirtualHost *:80>
    ServerName www.wikivoyage.<%= @domain_suffix %>
    ServerAlias m.wikivoyage.<%= @domain_suffix %>

    DocumentRoot /srv/mediawiki/docroot/wwwportal

    RewriteEngine On
    RewriteRule . - [E=RW_PROTO:%{HTTP:X-Forwarded-Proto}]
    RewriteCond %{ENV:RW_PROTO} !=https
    RewriteRule . - [E=RW_PROTO:http]

    # Front page...
    RewriteRule ^/$ /portal/wikivoyage.org/index.html [L]

    # We need to be able to update HTML on short notice
    <Location ~ "^/$">
        Header set Cache-Control "s-maxage=86400, must-revalidate, max-age=3600"
    </Location>
    # All other resources can be cached for a reasonably long time
    <Location ~ "^/portal/">
        Header set Cache-Control "s-maxage=86400, max-age=86400"
    </Location>

    # search-redirect.php, let it through
    RewriteRule ^/search-redirect.php /w/search-redirect.php [L]

    # Old /de
    RewriteRule ^/de/(.*)$ %{ENV:RW_PROTO}://de.wikivoyage.<%= @domain_suffix %>/wiki/$1 [R=301,L]
    # Old /it
    RewriteRule ^/it/(.*)$ %{ENV:RW_PROTO}://it.wikivoyage.<%= @domain_suffix %>/wiki/$1 [R=301,L]

    # Everything else
    # ErrorDocument defined in sites-available/01-main.conf should be served directly and not redirected
    RewriteCond %{REQUEST_URI} !=/w/404.php
    RewriteRule ^(.*)$ %{ENV:RW_PROTO}://en.wikivoyage.<%= @domain_suffix %>$1 [R=301,L]
<%= sethandler %>
</VirtualHost>

# vim: sts=4 sw=4 syn=apache autoindent
