[DEFAULT]

# Address to bind the API server
bind_host = <%= @ipaddress %>

# Port the bind the API server to
osapi_volume_listen_port = <%= @api_bind_port %>

# IP address of this host (host address value)
my_ip = <%= @ipaddress %>

# Availability zone of this node. Can be overridden per volume backend with the option "backend_availability_zone". (string value)
storage_availability_zone = nova

#
# backup stuff
#
backup_driver = cinder.backup.drivers.posix.PosixBackupDriver
# this is for ceilometer, but we don't use it
backup_enable_progress_timer = False
# where to store backups
backup_posix_path = <%= @backup_path %>
# The size in bytes that changes are tracked for incremental backups.
# backup_file_size has to be multiple of backup_sha_block_size_bytes.
backup_sha_block_size_bytes = 32768
# split binary backup files in chunks of this size. This seems to be the default.
backup_file_size = 1999994880

# Default availability zone for new volumes. If not set, the storage_availability_zone option value is used as the default for new volumes.
# (string value)
#default_availability_zone = <None>

# This needs to be created on the command line
#  and bound to QOS rules:
#
# openstack volume qos create --property iops_sec=5000 --property total_bytes_sec=200000000 --property write_iops_sec=500 standard-iops
# openstack volume type create standard
# openstack volume qos associate (those two)

default_volume_type = standard

# The strategy to use for auth. Supports noauth or keystone. (string value)
# Possible values:
# noauth - Do not perform authentication
# keystone - Authenticate using keystone
auth_strategy = keystone

# A list of backend names to use. These backend names should be backed by a unique [CONFIG] group with its options (list value)
enabled_backends = rbd

#
# Enable image signature verification.
#
# Cinder uses the image signature metadata from Glance and
# verifies the signature of a signed image while downloading
# that image. There are two options here.
#
# 1. ``enabled``: verify when image has signature metadata.
# 2. ``disabled``: verification is turned off.
#
# If the image signature cannot be verified or if the image
# signature metadata is incomplete when required, then Cinder
# will not create the volume and update it into an error
# state. This provides end users with stronger assurances
# of the integrity of the image data they are using to
# create volumes.
#  (string value)
# Possible values:
# disabled - <No description provided>
# enabled - <No description provided>
#verify_glance_signatures = enabled

# Number of volumes allowed per project (integer value)
quota_volumes = 0

# Number of volume snapshots allowed per project (integer value)
quota_snapshots = 0

# Number of consistencygroups allowed per project (integer value)
quota_consistencygroups = 0

# Number of groups allowed per project (integer value)
quota_groups = 0

# Total amount of storage, in gigabytes, allowed for volumes and snapshots per project (integer value)
quota_gigabytes = 20

# Number of volume backups allowed per project (integer value)
quota_backups = 0

# Total amount of storage, in gigabytes, allowed for backups per project (integer value)
#quota_backup_gigabytes = 20

# Max size allowed per volume, in gigabytes (integer value)
#per_volume_size_limit = -1


#
# From oslo.log
#

lock_path = /var/lock/cinder

# If set to true, the logging level will be set to DEBUG instead of the default INFO level. (boolean value)
# Note: This option can be changed without restarting.
#debug = false


# ================= Syslog Options ============================

# Use syslog for logging. Existing syslog format is DEPRECATED and will be changed later to honor RFC5424. This option is ignored if
# log_config_append is set. (boolean value)
use_syslog = true

# Enable journald for logging. If running in a systemd environment you may wish to enable journal support. Doing so will use the journal
# native protocol which includes structured metadata in addition to log messages.This option is ignored if log_config_append is set.
# (boolean value)
#use_journal = false

# Syslog facility to receive log lines. This option is ignored if log_config_append is set. (string value)
syslog_log_facility = LOG_LOCAL0

# Use JSON formatting for logging. This option is ignored if log_config_append is set. (boolean value)
#use_json = false

# Log output to standard error. This option is ignored if log_config_append is set. (boolean value)
#use_stderr = false

# Format string to use for log messages with context. (string value)
#logging_context_format_string = %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [%(request_id)s %(user_identity)s] %(instance)s%(message)s

# Format string to use for log messages when context is undefined. (string value)
#logging_default_format_string = %(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [-] %(instance)s%(message)s

# Additional data to append to log message when logging level for the message is DEBUG. (string value)
#logging_debug_format_suffix = %(funcName)s %(pathname)s:%(lineno)d

# Prefix each line of exception output with this format. (string value)
#logging_exception_prefix = %(asctime)s.%(msecs)03d %(process)d ERROR %(name)s %(instance)s

# Defines the format string for %(user_identity)s that is used in logging_context_format_string. (string value)
#logging_user_identity_format = %(user)s %(tenant)s %(domain)s %(user_domain)s %(project_domain)s

# List of package logging levels in logger=LEVEL pairs. This option is ignored if log_config_append is set. (list value)
#default_log_levels = amqp=WARN,amqplib=WARN,boto=WARN,qpid=WARN,sqlalchemy=WARN,suds=INFO,oslo.messaging=INFO,oslo_messaging=INFO,iso8601=WARN,requests.packages.urllib3.connectionpool=WARN,urllib3.connectionpool=WARN,websocket=WARN,requests.packages.urllib3.util.retry=WARN,urllib3.util.retry=WARN,keystonemiddleware=WARN,routes.middleware=WARN,stevedore=WARN,taskflow=WARN,keystoneauth=WARN,oslo.cache=INFO,dogpile.core.dogpile=INFO

# The network address and optional user credentials for connecting to the messaging backend, in URL format. The expected format is:
#
# driver://[user:pass@]host:port[,[userN:passN@]hostN:portN]/virtual_host?query
#
# Example: rabbit://rabbitmq:password@127.0.0.1:5672//
#
# For full details on the fields in the URL see the documentation of oslo_messaging.TransportURL at
# https://docs.openstack.org/oslo.messaging/latest/reference/transport.html (string value)
transport_url = rabbit://<%= @openstack_controllers.map{ |rabbit_host| "#{@rabbit_user}:#{@rabbit_pass}\@#{rabbit_host}:5672" }.join(',') %>

#
# From oslo.service.wsgi
#

# File name for the paste.deploy config for api service (string value)
#api_paste_config = api-paste.ini

# A python format string that is used as the template to generate log lines. The following values can beformatted into it: client_ip,
# date_time, request_line, status_code, body_length, wall_seconds. (string value)
#wsgi_log_format = %(client_ip)s "%(request_line)s" status: %(status_code)s  len: %(body_length)s time: %(wall_seconds).7f

# Sets the value of TCP_KEEPIDLE in seconds for each server socket. Not supported on OS X. (integer value)
#tcp_keepidle = 600

# Size of the pool of greenthreads used by wsgi (integer value)
#wsgi_default_pool_size = 100

# Maximum line size of message headers to be accepted. max_header_line may need to be increased when using large tokens (typically those
# generated when keystone is configured to use PKI tokens with big service catalogs). (integer value)
#max_header_line = 16384

# If False, closes the client socket connection explicitly. (boolean value)
#wsgi_keep_alive = true

# Timeout for client connections' socket operations. If an incoming connection is idle for this number of seconds it will be closed. A value
# of '0' means wait forever. (integer value)
#client_socket_timeout = 900


[database]

#
# From oslo.db
#

# The SQLAlchemy connection string to use to connect to the database. (string value)
# Deprecated group/name - [DEFAULT]/sql_connection
# Deprecated group/name - [DATABASE]/sql_connection
# Deprecated group/name - [sql]/connection
connection =  mysql+pymysql://<%= @db_user %>:<%= @db_pass %>@<%= @db_host %>/<%= @db_name %>


[healthcheck]

#
# From oslo.middleware
#

# DEPRECATED: The path to respond to healtcheck requests on. (string value)
# This option is deprecated for removal.
# Its value may be silently ignored in the future.
#path = /healthcheck

# Show more detailed information as part of the response (boolean value)
#detailed = false

# Additional backends that can perform health checks and report that information back as part of a request. (list value)
#backends =

# Check the presence of a file to determine if an application is running on a port. Used by DisableByFileHealthcheck plugin. (string value)
#disable_by_file_path = <None>

# Check the presence of a file based on a port to determine if an application is running on a port. Expects a "port:path" list of strings.
# Used by DisableByFilesPortsHealthcheck plugin. (list value)
#disable_by_file_paths =


[keystone_authtoken]
auth_type = password
www_authenticate_url = <%= @keystone_admin_uri %>
auth_url = <%= @keystone_admin_uri %>
password = <%= @ldap_user_pass %>
project_domain_id = default
project_name = admin
region_name = <%= @region %>
user_domain_id = default
username = novaadmin
memcached_servers = <%= @openstack_controllers.map{|host| "#{host}:11211"}.join(",") %>


[nova]

#
# From cinder
#

# Name of nova region to use. Useful if keystone manages more than one region. (string value)
region_name = <%= @region %>

# Type of the nova endpoint to use.  This endpoint will be looked up in the keystone catalog and should be one of public, internal or admin.
# (string value)
# Possible values:
# public - <No description provided>
# admin - <No description provided>
# internal - <No description provided>
#interface = public

# The authentication URL for the nova connection when using the current users token (string value)
#token_auth_url = <None>

# PEM encoded Certificate Authority to use when verifying HTTPs connections. (string value)
#cafile = <None>

# PEM encoded client certificate cert file (string value)
#certfile = <None>

# PEM encoded client certificate key file (string value)
#keyfile = <None>

# Verify HTTPS connections. (boolean value)
#insecure = false

# Timeout value for http requests (integer value)
#timeout = <None>

# Collect per-API call timing information. (boolean value)
#collect_timing = false

# Log requests to multiple loggers. (boolean value)
#split_loggers = false

# Authentication type to load (string value)
# Deprecated group/name - [nova]/auth_plugin
#auth_type = <None>

# Config Section from which to load plugin specific options (string value)
#auth_section = <None>




[oslo_policy]
policy_file = policy.yaml


[rbd]
volume_driver = cinder.volume.drivers.rbd.RBDDriver
rbd_pool = <%= @ceph_pool %>
rbd_ceph_conf = /etc/ceph/ceph.conf
rbd_flatten_volume_from_snapshot = false
rbd_max_clone_depth = 5
rbd_store_chunk_size = 4
rados_connect_timeout = -1
glance_api_version = 2
rbd_user = <%= @ceph_pool %>
rbd_secret_uuid = <%= @libvirt_rbd_cinder_uuid %>

[client.volumes]
keyring = /etc/ceph/ceph.client.<%= @ceph_pool %>.keyring
