#      ______                 __    _ __
#     / ____/________ _____  / /_  (_) /____
#    / / __/ ___/ __ `/ __ \/ __ \/ / __/ _ \
#   / /_/ / /  / /_/ / /_/ / / / / / /_/  __/
#   \____/_/   \__,_/ .___/_/ /_/_/\__/\___/
#                  /_/
#
# Settings file for Graphite webapp.
# This file is managed by Puppet.


## General

TIME_ZONE = 'Etc/UTC'
SECRET_KEY = '<%= @secret_key %>'
DOCUMENTATION_URL = '<%= @documentation_url %>'
DEFAULT_CACHE_DURATION = 120
USE_REMOTE_USER_AUTHENTICATION = <%= @remote_user_auth ? 'True' : 'False' %>


## Logging

LOG_RENDERING_PERFORMANCE = True
LOG_CACHE_PERFORMANCE = True
LOG_METRIC_ACCESS = True
MEMCACHE_HOSTS = ['127.0.0.1:11211']


## File paths

CONF_DIR = '/etc/graphite'
CONTENT_DIR = '/usr/share/graphite-web/static'
GRAPHITE_ROOT = '/usr/share/graphite-web'
INDEX_FILE = '/var/lib/graphite-web/search_index'
LOG_DIR = '/var/log/graphite-web'
STORAGE_DIR = '<%= @storage_dir %>'


## Database

DATABASES = {
    'default': {
        'NAME': '/var/lib/graphite-web/graphite.db',
        'ENGINE': 'django.db.backends.sqlite3',
    }
}


## Carbon

<%- unless @cluster_servers.empty? -%>
  <% non_local_servers = @cluster_servers.length > 1 \
         ? @cluster_servers.select { |x| x != @hostname \
                                         && x != @fqdn \
                                         && x != @ipaddress } \
         : @cluster_servers %>
CLUSTER_SERVERS = [<%= non_local_servers.map { |s| "\"#{s}\"" }.sort.join(', ') %>]
<%- end -%>

<%- carbon_settings = scope.lookupvar('::graphite::carbon_settings'); if carbon_settings.key? 'relay' -%>
CARBONLINK_HOSTS = [<%=
    carbon_settings['relay']['destinations'].map { |dest|
        server, pickle_receiver_port, instance = dest.split(':')
        cache_query_port = carbon_settings["cache:#{instance}"]['cache_query_port']
        "\"#{server}:#{cache_query_port}:#{instance}\""
    }.join(', ')
%>]
<%- end -%>

# See also https://github.com/graphite-project/graphite-web/pull/2462
import django
if django.VERSION >= (2, 2):
    from graphite.app_settings import *
    INSTALLED_APPS = INSTALLED_APPS + ('django.contrib.messages',)

## CORS

from graphite.app_settings import *

CORS_ORIGINS = <%= Array(@cors_origins).inspect %>

# stretch backwards compat
if 'MIDDLEWARE_CLASSES' in locals():
    MIDDLEWARE_CLASSES += ('cors.CorsMiddleware',)
elif 'MIDDLEWARE' in locals():
    MIDDLEWARE += ('cors.CorsMiddleware',)
