[DEFAULT]
interface            = lo

[daemon]
pidfile                = /var/run/anycast-healthchecker/anycast-healthchecker.pid
ipv4                   = true
ipv6                   = <%= @do_ipv6 ? 'true' : 'false' %>
bird_conf              = /etc/bird/anycast-prefixes.conf
bird6_conf             = /etc/bird/anycast6-prefixes.conf
bird_variable          = ACAST_PS_ADVERTISE
bird6_variable         = ACAST6_PS_ADVERTISE
bird_reconfigure_cmd   = /usr/sbin/birdc configure
bird6_reconfigure_cmd  = /usr/sbin/birdc6 configure
dummy_ip_prefix        = 203.0.113.1/32
dummy_ip6_prefix       = 2001:db8::1/128
bird_keep_changes      = false
bird6_keep_changes     = false
bird_changes_counter   = 128
bird6_changes_counter  = 128
purge_ip_prefixes      = false
loglevel               = info
log_maxbytes           = 104857600
log_backups            = 8
log_file               = /var/log/anycast-healthchecker/anycast-healthchecker.log
json_stdout            = false
json_log_file          = false
json_log_server        = false
