-- This file is managed by Puppet [see dnsdist/dnsdist.conf.erb].

-- == Generic Configuration (dnsdist 1.5.1) ==

-- dnsdist by default restricts queries from private IPs and other local addresses
-- we allow traffic from anywhere as a public service
addACL('0.0.0.0/0')
addACL('::/0')

<% if @enable_packetcache -%>
-- packet cache configuration, applied to the default pool
pc = newPacketCache(<%= @packetcache_max %>)
getPool(""):setCache(pc)
<% end -%>

-- downstream backend recursor (running pdns-recursor)
-- ECS is only enabled for queries to WMF authoritative nameservers; see `edns-subnet-whitelist' in dnsrecursor/recursor.conf.erb
newServer({address='<%= @resolver['host'] %>:<%= @resolver['port'] %>', name='<%= @resolver['name'] %>', useClientSubnet=<%= @enable_ecs ? true : false %>})

<% if @enable_console -%>
-- control socket access (default port is 5199)
controlSocket('127.0.0.1')
setKey('<%= @console_key %>')
<% end -%>

<% if @enable_webserver -%>
-- web server and API access (primarily used for Prometheus)
-- nil indicates custom headers, which we don't use/set
webserver('<%= @webserver['host'] %>:<%= @webserver['port'] %>', '<%= @webserver['password'] %>', '<%= @webserver['api_key'] %>', nil, '<%= @webserver['acl'].join(", ") %>')
<% end -%>

-- limit the number of queries per second from an IP (default: /32 for IPv4, /64 for IPv6)
-- note that we don't use DelayAction() as that is UDP-only
addAction(MaxQPSIPRule(<%= @qps_max %>, 32, 64), DropAction())

<% if @drop_querytype_any -%>
-- drop qtype=ANY by returning RCODE NOTIMP
addAction(QTypeRule(DNSQType.ANY), RCodeAction(DNSRCode.NOTIMP))
<% end -%>

-- disable broken security polling due to custom Debian build (see T273322)
setSecurityPollSuffix("")

-- == Performance Tuning ==

-- set the maximum number of TCP client threads (dnsdist's default is 10)
setMaxTCPClientThreads(<%= @tcp_client_threads_max %>)

-- == Privacy ==

-- restrict the size of the in-memory ring buffers used for traffic inspection
setRingBuffersSize(<%= @ringbuffer_max %>)

-- == DNS over HTTPS (DoH) ==

-- DoH Configuration Options
optionsDOH = {
  minTLSVersion='<%= @tls_config_doh['min_tls_version'] %>',
<% if @tls_config_doh.has_key?('ciphers_tls13') -%>
  ciphersTLS13='<%= @tls_config_doh['ciphers_tls13'].join(':') %>',
<% end -%>
<% if @tls_config_doh.has_key?('ciphers') -%>
  ciphers='<%= @tls_config_doh['ciphers'].join(':') %>',
<% end -%>
<% if @tls_common.has_key?('ocsp_response_path') -%>
  ocspResponses={'<%= @tls_common['ocsp_response_path'] %>'},
<% end -%>
<% if @enable_hsts -%>
  customResponseHeaders={["strict-transport-security"]="max-age=<%= @hsts_max_age %>; includeSubDomains; preload"},
<% end -%>
}

-- enable DoH (default port is 443)
addDOHLocal('0.0.0.0', '<%= @tls_common['cert_chain_path'] %>', '<%= @tls_common['cert_privkey_path'] %>', { '<%= @doh_paths.join("', '") %>' }, optionsDOH)
addDOHLocal('[::]', '<%= @tls_common['cert_chain_path'] %>', '<%= @tls_common['cert_privkey_path'] %>', { '<%= @doh_paths.join("', '") %>' }, optionsDOH)

<% if @enable_landing -%>
-- static pages for the DoH frontend (/)
-- used to display help information and/or privacy policy
staticMap = { newDOHResponseMapEntry("^/$", 200, [[ <%= @landing_text %> ]]) }

-- dohFE0 is the DoH frontend for 0.0.0.0:443
dohFE0 = getDOHFrontend(0)
dohFE0:setResponsesMap(staticMap)

-- dohFE1 is the DoH frontend for [::]:443
dohFE1 = getDOHFrontend(1)
dohFE1:setResponsesMap(staticMap)
<% end -%>

-- == DNS over TLS (DoT) ==

-- DoT Configuration Options
optionsDOT = {
  minTLSVersion='<%= @tls_config_dot['min_tls_version'] %>',
<% if @tls_config_dot.has_key?('ciphers_tls13') -%>
  ciphersTLS13='<%= @tls_config_dot['ciphers_tls13'].join(':') %>',
<% end -%>
<% if @tls_config_dot.has_key?('ciphers') -%>
  ciphers='<%= @tls_config_dot['ciphers'].join(':') %>',
<% end -%>
<% if @tls_common.has_key?('ocsp_response_path') -%>
  ocspResponses={'<%= @tls_common['ocsp_response_path'] %>'},
<% end -%>
}

-- enable DoT (default port is 853)
addTLSLocal('0.0.0.0', '<%= @tls_common['cert_chain_path'] %>', '<%= @tls_common['cert_privkey_path'] %>', optionsDOT)
addTLSLocal('[::]', '<%= @tls_common['cert_chain_path'] %>', '<%= @tls_common['cert_privkey_path'] %>', optionsDOT)
