#####################################################################
### THIS FILE IS MANAGED BY PUPPET
### modules/scap/templates/scap.cfg.erb
#####################################################################

# Configuration for scap and related scripts
#
# Values are selected based on the fully qualified domain name of the local
# host from the most specific to the least specific. As an example, on the
# host deploy1002.eqiad.wmnet lookups cascade in this order:
#
#   [deploy1002.eqiad.wmnet] > [eqiad.wmnet] > [wmnet] > [global]
#
# Additional configuration can be given on the command line for most
# applications by specifying a separate configuration file and/or using `-D`
# defines. When an alternate configuration file is specified, values from this
# file are ignored. `-D` definitions always take precedence over
# other configuration.

[global]

# deployment git server hostname
git_server: <%= @deployment_server %>

# Make sure we're always running the deb-installed scap, rather than looking
# in a possibly erronerous location.
bin_dir: /usr/bin

statsd_port: 8125

# Deployment realm
wmf_realm: production

# Deployment datacenter
datacenter: eqiad

# Ssh agent to use to connect to cluster servers
ssh_auth_sock: /run/keyholder/proxy.sock
# User to perform ssh commands as
ssh_user: mwdeploy

# PID file for Apache service
apache_pid_file: /var/run/apache2/apache2.pid

# Local interface that indicates that pybal is in use
pybal_interface: lo:LVS

# DSH group naming hosts to use as scap masters
dsh_masters: scap-masters
# DSH group naming hosts to use as scap proxies
dsh_proxies: scap-proxies
# DSH group naming hosts to use as scap targets
dsh_targets: mediawiki-installation
# DSH group naming hosts to use as mediawiki api canaries
dsh_api_canaries: mediawiki-api-canaries
# DSH group naming hosts to use as mediawiki app canaries
dsh_app_canaries: mediawiki-appserver-canaries

logstash_host: logstash1023.eqiad.wmnet:9200
canary_service: mwdeploy
php_version: php7.2

use_syslog: True

[eqiad.wmnet]
# Wikimedia Foundation production eqiad datacenter
datacenter: eqiad

[codfw.wmnet]
# Wikimedia Foundation production codfw datacenter
datacenter: codfw
master_rsync: deployment.codfw.wmnet

[wmnet]
# Wikimedia Foundation production cluster configuration
master_rsync: <%= @deployment_server %>
statsd_host: statsd.eqiad.wmnet
tcpircbot_host: icinga.wikimedia.org

canary_dashboard_url: https://logstash.wikimedia.org
#php7-admin-port: <%= @php7_admin_port %>
mw_web_clusters: appserver,api_appserver,jobrunner,testserver,parsoid_php
mediawiki_canary_swagger_url: https://en.wikipedia.org

[eqiad1.wikimedia.cloud]
# Wikimedia Foundation beta eqiad datacenter
datacenter: eqiad
git_server: <%= @wmflabs_master %>
master_rsync: <%= @wmflabs_master %>
statsd_host: <%= @cloud_statsd_host %>
logstash_host: deployment-logstash03.deployment-prep.eqiad1.wikimedia.cloud:9200
udp2log_host: <%= @betacluster_udplog_host %>
mediawiki_canary_swagger_url: https://en.wikipedia.beta.wmflabs.org
wmf_realm: labs
delay_messageblobstore_purge: true

[eqiad.wmflabs]
# Wikimedia Foundation beta eqiad datacenter (legacy duplicate)
datacenter: eqiad
logstash_host: deployment-logstash03.deployment-prep.eqiad1.wikimedia.cloud:9200
mediawiki_canary_swagger_url: https://en.wikipedia.beta.wmflabs.org


[wikimedia.org]
# Wikimedia Foundation production cluster configuration for "public" hosts
# This should match the [wmnet] configuration
master_rsync: <%= @deployment_server %>
statsd_host: statsd.eqiad.wmnet
tcpircbot_host: icinga.wikimedia.org
# Note: not adding the php7 configuration here for now.
# TODO: enable php7 on wikitech

[wmflabs]
# Duplicate of the "eqiad1.wikimedia.cloud" section for hosts still
# using the legacy naming scheme (https://wikitech.wikimedia.org/wiki/News/Phasing_out_the_.wmflabs_domain)
# Wikimedia Foundation beta cluster configuration
git_server: <%= @wmflabs_master %>
master_rsync: <%= @wmflabs_master %>
statsd_host: <%= @cloud_statsd_host %>
udp2log_host: <%= @betacluster_udplog_host %>
wmf_realm: labs
# No pybal in labs, but pretend that there is anyway
pybal_interface: lo
canary_dashboard_url: https://logstash-beta.wmflabs.org
delay_messageblobstore_purge: true

# Restart php-fpm only when running from the deployment servers for now.
# Further explanations at https://phabricator.wikimedia.org/T224857#5467370
[deploy1002.eqiad.wmnet]
# Restart php-fpm if the opcache is critically low
php_fpm: php7.2-fpm
php_fpm_restart_script: /usr/local/sbin/check-and-restart-php
php_fpm_unsafe_restart_script: /usr/local/sbin/restart-php7.2-fpm

[deploy2002.codfw.wmnet]
php_fpm: php7.2-fpm
php_fpm_restart_script: /usr/local/sbin/check-and-restart-php
php_fpm_unsafe_restart_script: /usr/local/sbin/restart-php7.2-fpm
