type: 'dump'
user: '<%= @user %>'
password: '<%= @password %>'
rotate: True
compress: False
archive: False
retention: 18
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s2:
    host: 'db2101.codfw.wmnet'
    port: 3312
  s5:
    host: 'db2101.codfw.wmnet'
    port: 3315
  s7:
    host: 'db2098.codfw.wmnet'
    port: 3317
  x1:
    host: 'db2101.codfw.wmnet'
    port: 3320
    archive: True
  zarcillo:
    host: 'db2093.codfw.wmnet'

