user: '<%= @user %>'
password: '<%= @password %>'
rotate: True
compress: False
archive: False
retention: 18
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s1:
    host: 'db1139.eqiad.wmnet'
    port: 3311
  s8:
    host: 'db1116.eqiad.wmnet'
    port: 3318
