user: '<%= @user %>'
password: '<%= @password %>'
rotate: True
compress: False
archive: False
retention: 18
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s2:
    host: 'db1102.eqiad.wmnet'
    port: 3312
  s3:
    host: 'db1102.eqiad.wmnet'
    port: 3313
    archive: True
  x1:
    host: 'db1102.eqiad.wmnet'
    port: 3320
    archive: True
  s7:
    host: 'db1171.eqiad.wmnet'
    port: 3317
  zarcillo:
    host: 'db1115.eqiad.wmnet'
  matomo:
    host: 'db1108.eqiad.wmnet'
    port: 3351
  analytics_meta:
    host: 'db1108.eqiad.wmnet'
    port: 3352




