type: 'dump'
user: '<%= @user %>'
password: '<%= @password %>'
rotate: True
compress: False
archive: False
retention: 18
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s1:
    host: 'db2097.codfw.wmnet'
    port: 3311
  s8:
    host: 'db2098.codfw.wmnet'
    port: 3318
