type: 'dump'
user: '<%= @user %>'
password: '<%= @password %>'
rotate: True
compress: False
archive: False
retention: 18
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s3:
    host: 'db2139.codfw.wmnet'
    port: 3313
    archive: True
  s4:
    host: 'db2139.codfw.wmnet'
    port: 3314
  s6:
    host: 'db2141.codfw.wmnet'
    port: 3316
  m1:
    host: 'db2078.codfw.wmnet'
    port: 3321
  m2:
    host: 'db2078.codfw.wmnet'
    port: 3322
  m3:
    host: 'db2078.codfw.wmnet'
    port: 3323
  m5:
    host: 'db2078.codfw.wmnet'
    port: 3325

