-- haproxy
CREATE USER 'haproxy'@'10.64.48.43';
CREATE USER 'haproxy'@'10.64.32.180';
CREATE USER 'haproxy'@'10.192.48.47';

-- parsoid testing database 'testreduce' --

-- > dbproxy1017
CREATE USER 'testreduce'@'10.64.48.43'
IDENTIFIED BY '<%= @testreduce_pass %>';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.64.48.43';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.64.48.43';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.64.48.43';

-- > dbproxy1021
CREATE USER 'testreduce'@'10.64.32.180'
IDENTIFIED BY '<%= @testreduce_pass %>';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.64.32.180';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.64.32.180';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.64.32.180';

-- > dbproxy2004
CREATE USER 'testreduce'@'10.192.48.47'
IDENTIFIED BY '<%= @testreduce_pass %>';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.192.48.47';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.192.48.47';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.192.48.47';


-- > dbproxy1017 command line access for ssastry
CREATE USER 'ssastry'@'10.64.48.43'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.64.48.43';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.64.48.43';

-- > dbproxy1021 command line access for ssastry
CREATE USER 'ssastry'@'10.64.32.180'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.64.32.180';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.64.32.180';

-- > dbproxy2004 command line access for ssastry
CREATE USER 'ssastry'@'10.192.48.47'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.192.48.47';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.192.48.47';

-- > scandium
CREATE USER 'testreduce'@'10.64.48.94'
IDENTIFIED BY '<%= @testreduce_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.64.48.94';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.64.48.94';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.64.48.94';

-- > scandium command line access for ssastry
CREATE USER 'ssastry'@'10.64.48.94'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.64.48.94';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.64.48.94';

-- > testreduce1001
CREATE USER 'testreduce'@'10.64.48.40'
IDENTIFIED BY '<%= @testreduce_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.64.48.40';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.64.48.40';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.64.48.40';

-- > testreduce1001 command line access for ssastry
CREATE USER 'ssastry'@'10.64.48.40'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.64.48.40';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.64.48.40';

-- labsdbaccounts user, will run from labstore1004 and 1005

GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.64.37.19'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.64.37.20'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

-- dbproxy1017
GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.64.48.43'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

-- dbproxy1021
GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.64.32.180'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

-- dbproxy2004
GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.192.48.47'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

-- mailman3 databases T278614 from lists1001.wikimedia.org.
GRANT ALL ON mailman3.* TO 'mailman3'@'208.80.154.31' IDENTIFIED BY '<%= @mailman3_pass %>';
GRANT ALL ON mailman3web.* TO 'mailman3web'@'208.80.154.31' IDENTIFIED BY '<%= @mailman3web_pass %>';
-- mailman3 from eqiad and codfw proxies
-- dbproxy1017
GRANT ALL ON mailman3.* TO 'mailman3'@'10.64.48.43' IDENTIFIED BY '<%= @mailman3_pass %>';
GRANT ALL ON mailman3web.* TO 'mailman3web'@'10.64.48.43' IDENTIFIED BY '<%= @mailman3web_pass %>';
-- dbproxy1021
GRANT ALL ON mailman3.* TO 'mailman3'@'10.64.32.180' IDENTIFIED BY '<%= @mailman3_pass %>';
GRANT ALL ON mailman3web.* TO 'mailman3web'@'10.64.32.180' IDENTIFIED BY '<%= @mailman3web_pass %>';
-- dbproxy2004
GRANT ALL ON mailman3.* TO 'mailman3'@'10.192.48.47' IDENTIFIED BY '<%= @mailman3_pass %>';
GRANT ALL ON mailman3web.* TO 'mailman3web'@'10.192.48.47' IDENTIFIED BY '<%= @mailman3web_pass %>';

-- toolhub
-- Grants from the k8s Pod IPs
-- dbproxy hosts
--eqiad proxies
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.48.43' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.32.180' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.64.48.43' IDENTIFIED BY '<%= @toolhub_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.64.32.180' IDENTIFIED BY '<%= @toolhub_admin_pass %>';
--codfw proxies
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.192.48.47' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.192.48.47' IDENTIFIED BY '<%= @toolhub_admin_pass %>';

-- Pods ranges (to be reverted once we switch to the proxies)
-- kubernetes pod IPs (eqiad) 10.64.64.0/21
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.64.%' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.65.%' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.66.%' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.67.%' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.68.%' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.69.%' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.70.%' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.71.%' IDENTIFIED BY '<%= @toolhub_pass %>';
-- kubernetes pod IPs staging (eqiad) 10.64.75.0/24
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.75.%' IDENTIFIED BY '<%= @toolhub_pass %>';
-- kubernetes pod IPs staging (codfw) 10.192.75.0/24
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.192.75.%' IDENTIFIED BY '<%= @toolhub_pass %>';
-- tool_admin access from mwmaint host (to be reverted once we switch to the proxies)
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.64.16.77' IDENTIFIED BY '<%= @toolhub_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.192.32.34' IDENTIFIED BY '<%= @toolhub_admin_pass %>';
