[DEFAULT]

use_syslog = True
syslog_log_facility = LOG_LOCAL0

debug = false
verbose = false

# Uncomment these two to get isolated keystone logfiles.
#  As is, logs will only go to syslog.
#log_file = keystone.log
#log_dir = /var/log/keystone

# Login info for wikitech, for project page updates
wiki_host=<%= @osm_host %>
wiki_page_prefix=<%= @wiki_status_page_prefix %>
wiki_consumer_token=<%= @wiki_status_consumer_token %>
wiki_consumer_secret=<%= @wiki_status_consumer_secret %>
wiki_access_token=<%= @wiki_status_access_token %>
wiki_access_secret=<%= @wiki_status_access_secret %>

[assignment]
driver = sql

[auth]
methods = external,password,token,wmtotp

# Override the default password plugin with a custom
#  one that checks source IPs.
password = safelist

<% @labs_networks.each do |subnet| -%>
password_safelist = novaobserver:<%=subnet%>
password_safelist = deployment-prep-dns-manager:<%=subnet%>
password_safelist = testlabs-dns-manager:<%=subnet%>
password_safelist = traffic-cloud-dns-manager:<%=subnet%>
password_safelist = tools-dns-manager:<%=subnet%>
password_safelist = toolsbeta-dns-manager:<%=subnet%>
password_safelist = project-proxy-dns-manager:<%=subnet%>
password_safelist = paws-dns-manager:<%=subnet%>
password_safelist = cloudinfra-dns-manager:<%=subnet%>
password_safelist = codfw1dev-proxy-dns-manager:<%=subnet%>
<% end -%>
<% @prod_networks.each do |subnet| -%>
password_safelist = *:<%=subnet%>
<% end -%>

[oath]

wikitech_host = <%=@osm_host %>
wikitech_consumer_token = <%= @wiki_consumer_token %>
wikitech_consumer_secret = <%= @wiki_consumer_secret %>
wikitech_access_token = <%= @wiki_access_token %>
wikitech_access_secret = <%= @wiki_access_secret %>

[cache]
backend = oslo_cache.memcache_pool
memcache_servers = <%= @controller_hosts.map{|host| "#{host}:11211"}.join(",") %>

[catalog]
driver = sql

[credential]

[database]
connection = mysql+pymysql://<%= @db_user %>:<%= @db_pass %>@<%= @db_host %>/<%= @db_name %>
max_pool_size = <%= @db_max_pool_size %>

[domain_config]
[endpoint_filter]
[endpoint_policy]
[eventlet_server]
public_workers = <%= @public_workers %>
admin_workers = <%= @admin_workers %>

[eventlet_server_ssl]
[federation]
[fernet_tokens]
# fixme: return this to <%= @max_active_keys %> once we're done juggling hosts for T252121
#max_active_keys = <%= @max_active_keys %>
max_active_keys = 50

[identity]
driver = ldap
[identity_mapping]
[kvs]

[ldap]
url = <% @ldap_hosts.each do |ldap_host| %>ldap://<%= ldap_host %>,<% end %>
tree_dn = <%= @ldap_base_dn %>
user_tree_dn = ou=people,<%= @ldap_base_dn %>
user_id_attribute = <%= @ldap_user_id_attribute %>
user_name_attribute = <%= @ldap_user_name_attribute %>
user = <%= @ldap_user_dn %>
password = <%= @ldap_user_pass %>

[matchmaker_redis]
[memcache]
# deprecated in favor of [cache]
[oauth1]
[os_inherit]
[oslo_messaging_amqp]

[oslo_messaging_notifications]
driver = wmfkeystonehooks

[oslo_messaging_rabbit]
[oslo_middleware]

[oslo_policy]

enforce_scope = <%= @enforce_policy_scope %>
enforce_new_defaults = <%= @enforce_new_policy_defaults %>

policy_file = policy.yaml



[paste_deploy]

[policy]
driver = rules

[resource]
[revoke]
[role]
[saml]
[shadow_users]
[signing]
[ssl]

[token]
provider = fernet
expiration = 613440

[tokenless_auth]
[trust]

[wmfhooks]
region = <%= @region %>
admin_pass = <%= @ldap_user_pass %>
auth_url = <%= @auth_protocol %>://<%= @fqdn %>:<%= @auth_port %>/v3
instance_ip_range = <%= @instance_ip_range %>
wmcloud_domain_owner = <%= @wmcloud_domain_owner %>
bastion_project_id = <%= @bastion_project_id %>
