input {
  # Graylog extended logging format
  gelf {
    type  => "gelf"
    port  => <%= @port %>
    remap => false
<%- if @host -%>
    host  => "<%= @host %>"
<%- end -%>
<%- unless @plugin_id.empty? -%>
    id   => "<%= @plugin_id %>"
<%- end -%>
<%- if @tags -%>
    tags => ["<%= @tags.join('", "') %>", "deprecated-input"]
<%- else -%>
    tags => [ "deprecated-input" ]
<%- end -%>
  }
}
